.logo {
  font: 32px 'Antic Didone', 'Open Sans';
}
.navbar::-webkit-scrollbar {
  display: none;
}
.navbar_links{
  text-decoration: none;
  color: black;
  gap: 8px;
  transition: all 0.2s ease-in-out;
  border-radius: 5px;
  padding: 3px;
}
.navbar_links:hover {
  gap: 12px;
  background-color: rgba(100,100,100,0.3);
}